body {
    margin-top: 0px;
}
#bloc_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

header {
    background-color: #4FB68D;
}

@font-face {
    font-family: 'polTangerine';
    src: url('../polTangerine/tangerine_bold-webfont.woff');
    src: url('../polTangerine/tangerine_bold-webfont.woff2');
    src: url('../polTangerine/tangerine_regular-webfont.woff');
    src: url('../polTangerine/tangerine_regular-webfont.woff2');
}
@font-face {
    font-family: 'polYrsabold';
    src: url('../polYrsa/yrsa-bold-webfont.woff');
    src: url('../polYrsa/yrsa-bold-webfont.woff2');
    font-family: 'polYrsalight';
    src: url('../polYrsa/yrsa-light-webfont.woff');
    src: url('../polYrsa/yrsa-light-webfont.woff2');
    font-family: 'polYrsamedium';
    src: url('../polYrsa/yrsa-medium-webfont.woff');
    src: url('../polYrsa/yrsa-medium-webfont.woff2');
    font-family: 'polYrsaregular';
    src: url('../polYrsa/yrsa-regular-webfont.woff');
    src: url('../polYrsa/yrsa-regular-webfont.woff2');
    font-family: 'polYrsasemibold';
    src: url('../polYrsa/yrsa-semibold-webfont.woff');
    src: url('../polYrsa/yrsa-semibold-webfont.woff2');
}

/* EN TETE */
#en_tete {
    display: flex;
    justify-content: center;
}

#img_menu {
    display: none;
}

#titre_principal {
    color: #ffffff;
    font-family: 'polTangerine', "Comic Sans MS", serif;
    font-size: 50px;
    height: 100px;
    margin-top: 30px;
    text-align: center;
}
#titre_principal h1 {
    margin-top: 0;
}



/* MENU DEROULANT */
a.generalites {
    color: #ffffff;
    text-decoration: none;
}

.menu ul,
.sousMenu .sousArticle ul {
    list-style-type: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'polYrsa', "Georgia", serif;
}



/* AUTRE */
.banniere {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 200px;
    margin: auto;
}

.phrase {
    font-family: 'polYrsa', "Georgia", serif;
    display: flex;
    justify-content: center;
    font-size: 40px;
}

section {
    background-color: #EDF8F3;
    display: flex;
    flex-direction: column;
}

.sousContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 25px;
}

p,
h3 {
    font-family: 'polYrsaregular', "Georgia", serif;
    font-size: 25px; 
    margin-left: 25px;
    margin-right: 25px;
}



/* FOOTER */
footer {
    background-color: #e8ffe6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.reso ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-between;
    margin-top: -50px;
    list-style-type: none;
}
.reso img {
    height: 30px;
    width: auto;
    margin-left: 5px;
    margin-right: 10px;
}



/* PHOTO */
.logo {
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    
}
.chemin {
    display: flex;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: auto;
    justify-content: flex-end;
}

em {
    color: red;
}

article {
    width:1300px;
}

.espace {
    margin-top: -0.5em;
}



/* CSS MENU */
h2 {
    text-decoration: underline;
    padding-left: 20%;
    padding-top: 50px;
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.sousMenu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 25px;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sousMenu .imgMenu {
    padding-right: 50px;
}

.sousMenu .sousArticle {
    display: flex;
    flex-direction: column;
}

.sousMenu .sousArticle ul {
    display: flex;
    flex-direction: column;
}

.sousMenu .sousArticle a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}

li:hover {
    font-weight: bolder;
}



/* PAGE 1 */
.cage {
    display: flex;
    align-self: center;
    height: 300px;
    width: 400px;
}



/* PAGE2 */
#video {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#video .tel {
    display: none;
}


/* --------------------------------------------------------- */
/* MEDIA QUERIES */
/* TABLETTE */
@media screen and (max-width: 1110px)
{
    .logo, .chemin {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20px;
        color: #ffffff;
        font-size: 20px;
        font-family: 'polYrsa', "Georgia", serif;
    }

    .banniere {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 132px;
        margin: auto;
    }
    
    
    /* PAGE MENU */
    .sousMenu .imgMenu {
        width: 250px;
        height: 150px;
        padding-right: 10px;
    }

    h2 {
        text-decoration: underline;
        padding-left: 5%;
        padding-top: 10px;
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
        margin-bottom: 0;
    }
    .sousMenu {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
        padding-top: 0;
        padding-left: 20px;
        padding-bottom: 20px;
        margin-top: 0;
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .sousMenu .sousArticle {
        display: flex;
        flex-direction: column;
    }
    
    .sousMenu .sousArticle ul {
        display: flex;
        flex-direction: column;
    }
    
    .sousMenu .sousArticle a{
        text-decoration: none;
        font-size: 25px;
        color: black;
    }

    .cage {
        display: flex;
        align-self: center;
        height: 200px;
        width: 400px;
    }
}



/* TELEPHONE */
@media screen and (max-width: 470px)
{
    #en_tete {
        display: flex;
        width: 100%;
        height: 90px;
    }

    #img_menu {
        display: flex;
        align-self: center;
        width: 25px;
        height: auto;
        margin-right: 5px;
        margin-left: -10%;
        margin-top: 15px;
    }

    #titre_principal {
        color: #ffffff;
        font-family: 'polTangerine', "Comic Sans MS", serif;
        font-size: 30px;
        height: 100px;
        margin-top: 20px;
        text-align: center;
    }

    /*nav ul {
        display: flex;
        flex-direction: row;
        margin-top: 0;
        padding-left: 0;
        color: #ffffff;
        font-size: 11px;
        font-family: 'polYrsa', "Georgia", serif;
    }*/

    nav ul {
        display: none;
    }

    .banniere {
        height: 55px;
    }

    section .phrase {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 15px;
    }

    p {
        font-size: 15px;
    }


    /* FOOTER */
    footer {
        background-color: #e8ffe6;
        height: 10px;
    }

    footer p {
        margin-top: -5px;
    }

    footer p .reso {
        display: flex;
        flex-direction: row;
    }

    .reso img {
        height: 20px;
        width: auto;
        margin-right: 10px;
        padding-top: 15px;
    }


    /* PAGE MENU */
    h2 {
        text-decoration: underline;
        padding-left: 10px;
        padding-top: 5px;
        font-size: 25px;
    }

    section aside .imgMenu {
        display: none;
    }

    section article h3 {
        font-size: 20px;
    }
    
    .sousMenu {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
        margin-top: 0;
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
    }
    
    .sousMenu .sousArticle {
        display: flex;
        flex-direction: column;
    }
    
    .sousMenu .sousArticle ul {
        display: flex;
        flex-direction: column;
    }
    
    .sousMenu .sousArticle a{
        text-decoration: none;
        font-size: 20px;
        color: black;
    }


    /* VIDEO */
    #video {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #video .desktop {
        display: none;
    }

    #video .tel {
        display: block;
    }

    h3 {
    font-family: 'polYrsaregular', "Georgia", serif;
    font-size: 25px; 
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0;
    }

    p {
    font-family: 'polYrsaregular', "Georgia", serif;
    font-size: 15px; 
    }

    .cage {
        display: none;
    }
}



@media screen and (min-width: 1620px) {
#bloc_page {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
}


@media screen and (max-width: 330px) {
#titre_principal {
    font-size: 25px;
}

#video {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

